@font-face {
  font-family: 'SinkinSans';
  src: url(SinkinSans-900XBlack.otf);
}

@font-face {
  font-family: 'Sport';
  src: url(SportingGrotesque-Bold.otf);
}

@font-face {
  font-family: 'Bluu';
  src: url(BluuNext-Bold.otf);
}


// Define fonts for body and headers
// $body-font: "SinkinSans", "Helvetica", "sans-serif";
// $headers-font: "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

.custom {
  font-family: 'Sport';
  font-size: 5.5em;
  //line-height: 0.85em;
  //padding-right: 0.1em;
  color: #f3f3f3;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  // white-space: nowrap;
  &:hover {
    color: red;
    -webkit-text-stroke-width: 0px;
    cursor: pointer;
  }
}

.flag {
  font-size: 0.3em;
  margin-top: -1.15em;
}

.title {
  font-family: 'Sport';
  font-size: 5.5em;
  color: red;
}
