@font-face {
    font-family: 'Sporting Grotesque_Regular';
    src:    font-url('Regular/Sporting_Grotesque-Regular_web.eot');
    src:    font-url('Regular/Sporting_Grotesque-Regular_web.eot?#iefix') format('embedded-opentype'),
            font-url('Regular/Sporting_Grotesque-Regular_web.woff') format('woff'),
            font-url('Regular/Sporting_Grotesque-Regular_web.woff2') format('woff2'),
            font-url('Regular/Sporting_Grotesque-Regular_web.ttf') format('truetype'),
            font-url('Regular/Sporting_Grotesque-Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sporting Grotesque_Bold';
    src:    font-url('Bold/Sporting_Grotesque-Bold_web.eot');
    src:    font-url('Bold/Sporting_Grotesque-Bold_web.eot?#iefix') format('embedded-opentype'),
            font-url('Bold/Sporting_Grotesque-Bold_web.woff') format('woff'),
            font-url('Bold/Sporting_Grotesque-Bold_web.woff2') format('woff2'),
            font-url('Bold/Sporting_Grotesque-Bold_web.ttf') format('truetype'),
            font-url('Bold/Sporting_Grotesque-Bold_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}


// @font-face {
//   font-family: 'Bluu';
//   src: font-url(BluuNext-Bold.otf);
// }

@media only screen and (max-device-width: 480px) {
  .custom {
    font-size: 2.6em !important;
   }
  .title {
    font-size: 2.6em !important;
  }
  .flag {
    font-size: 1.6em !important;
  }
}

.custom {
  font-family: 'Sporting Grotesque_Bold';
  font-size: 5.5em;
  //line-height: 0.85em;
  //padding-right: 0.1em;
  color: #f3f3f3;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
  // white-space: nowrap;
  &:hover {
    color:  red;
    -webkit-text-stroke-width: 0px;
    cursor: pointer;
  }
}

.flag {
  font-size: 2.2em;
  vertical-align: top;
}

.title {
  font-family: 'Sporting Grotesque_Bold';
  font-size: 5.5em;
  color:  red;
}
