@font-face {
  font-family: 'SinkinSans';
  src: url('/assets/fonts/SinkinSans-900XBlack.otf');
}

// Define fonts for body and headers
// $body-font: "SinkinSans", "Helvetica", "sans-serif";
// $headers-font: "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

.custom {
  font-family: 'SinkinSans';
  font-size: 8em;
  line-height: 0.85em;
  padding-right: 0.1em;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.flag {
  font-size: 0.3em;
  margin-top: -0.85em;
}
