.float {
 display: inline-block;
 word-break: break-all;
}

.lined {
  display: inline;
}

.dot {
  position: absolute;
  top: 0;
  z-index: -5;
}

.blending {
  font-family: 'Bluu';
  font-size: 20em;
  line-height: 0.8em;
  mix-blend-mode: multiply;
  color: red;
  z-index: -4;
}

.blend {
  font-family: 'Bluu';
  color: white;
  font-size: 20em;
  line-height: 0.8em;
  mix-blend-mode: multiply;
  z-index: -1;
}

.bg {
  background-color: blue;
  mix-blend-mode: screen;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

ul {
  list-style: none;
  padding: 0;
}

.ontop {
  position: absolute;
  top: 0;
  overflow: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
}

.photo {
  position: fixed;
}

.hovering {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: -1;
}

// .inner:hover .hovering {
//   display: block;
//   z-index: -1;
// }

