// Specific CSS for your home-page
.float {
  // float: left;
  //overflow-wrap: break-word;
  //width: 100vw;
  word-wrap: break-word;
 // word-break: break-all;
}

.float-right {
  float: right;
  word-wrap: break-word;
}

.dot {
  position: absolute;
  top: 0;
}

.blending {
  // bottom: 0;
  font-family: 'Bluu';
  font-size: 20em;
  line-height: 0.8em;
  mix-blend-mode: multiply;
  color: red;
  z-index: -4;
}

ul {
  list-style: none;
  padding: 0;
}

.ontop {
  position: absolute;
  top: 0;
  overflow: hidden;
}

.hidden {
    display: none;
    visibility: hidden;
}

.photo {
  position: fixed;
}
