<div id="container">
  <ul class="float cities_list">
    <li class="title lined">ATRAVELDIARYINIPHONEPICTURES</li>
    <% @city.each do |city| %>
    <li class="lined flag"><%= city.flag %></li>
    <li class="custom lined city-name inner" id="<%= city.name.downcase %>">
      <%= city.name.upcase %>
    </li>
    <div class="ontop hidden eachcity">
      <% city.pictures.each do |picture| %>
      <div class="photo">
        <%= image_tag picture.url, class: "#{city.name.downcase}" %>
      </div>
      <% end %>
    </div>
    <% end %>
  </ul>
</div>



