<div id="container">
  <span class="swag">
    <% @city.each do |city, index| %>
    <span class="custom float city-name"><%= city.name.upcase %>
<!--       <span class="flag">
        <% city.flag %>
      </span> -->
    </span>
    <% h = [1..5] %>
    <ul class="ontop hidden" id="marque">
      <% 5.times do %>
      <li><marquee behavior=scroll direction="left" scrollamount="<%= h.sample %>" class="blending float"><%= city.name %></marquee></li>
      <% end %>
    </ul>
    <div class="ontop" id="city-{#index}">
      <% city.pictures.each do |picture| %>
      <div class="photo">
        <%= image_tag picture.url %>
      </div>
      <!--   <div class="photo dot hidden" style="background-image: <%#= picture.url %>;"></div> -->
      <% end %>
    </div>
    <% end %>
  </span>
</div>
